/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
a{
  text-decoration: none;
}
.content{
  margin: 0px 30px;
}
.nav-top{
  margin: auto;
  padding: 15px;
  width: 25%;
  height: 100px;
  background-color:aquamarine;
  font-size: large;   
}
.nav-bar{ 
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5vw;
  list-style: none;
  font-size: 22px;
}


/*  */
*{
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}
nav{
  display: flex;
  gap: 34px;
  background-color: black;
} 

li{
  list-style: none;
  color: white;
}
nav li{
  
}